# Domains
APP_DOMAIN=http://localhost:3000
API_DOMAIN=http://localhost:3000
AUTH_API_DOMAIN=http://localhost:3000
AUTH_API_BASE_PATH=/api/auth
NEXT_PUBLIC_APP_DOMAIN=http://localhost:3000
NEXT_PUBLIC_WEBSITE_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_API_URL=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000
NEXT_PUBLIC_AUTH_API_BASE_PATH=/api/auth
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# SuperTokens Core
SUPERTOKENS_CONNECTION_URI=http://localhost:3567
SUPERTOKENS_API_KEY=
SUPERTOKENS_COOKIE_DOMAIN=
